.line-chart-container {
  width: 30%;
  height: 283px;
  border-radius: 5px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Cache les débordements */
  position: relative;
  z-index: 0;
}
.titre-LineChart {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
color: white;
text-align: left;
width: 50%;
position: absolute;
left:34px;
top: 5px;
}
.text-ToolTip{
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 3px;
}
.rectangle-LineChart{
  background-color: black;
  height: 283px;
  width: 79px;
  position: absolute;
  right: 0;
  opacity: 0.1;
}
.container-graphique-line-chart{
  margin-top: 40px;
  height: 263px; 
  width: 90%;
  padding-right: 20px; 

}
.clip-container {
  clip-path: inset(0px -20px); /* Ajuste cette valeur comme nécessaire */
  background-color: blue; /* Pour vérifier la visibilité */
}
