.line-chart-container {
  width: 30%;
  height: 283px;
  border-radius: 5px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.titre-LineChart {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: white;
  text-align: left;
  width: 50%;
  position: absolute;
  left: 34px;
  top: 5px;
  opacity: 0.5;
}





.custom-tooltip-lineChart {
  height: 283px;
  width:30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: relative;
  white-space: nowrap;
  margin-top: -5px;
  z-index: 1000;
  pointer-events: none; 
}

.custom-tooltip-lineChart::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
}




.text-ToolTip {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}











.container-graphique-line-chart {
  height: 283px;
  width: 100%;
} 

 
