@media screen and (min-width: 1024px) and (min-height: 780px) {
  /* Style spécifiques pour les résolutions supérieures à 1024x780 */
  body {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0px;
    height: auto;
  }
}