@media screen and (min-width: 1024px) and (min-height: 780px) {
  /* Styles spécifiques pour les résolutions supérieures à 1024x780 */
  body {
    width: 100%;
    margin: 0 auto; 
    padding: 0px;
    height: auto;
  }
}