.radial-bar-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  width: 30%;
  height: 283px;
position: relative;  
border-radius: 5px;
}
.titre-radialBarChart{
font-family: Roboto;
font-size: 15px;
font-weight: 500;
line-height: 24px;
position: absolute;
top: 10px;
left: 5%;
}
