.custom-tooltip{
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
}


.container-title-barChart{
    display: flex;
    flex-direction: row;
}
.title-barChart{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #20253A;
    margin-right: 30%;
}
  .legend-item {
    display: flex; 
    align-items: center; 
    flex-direction: row;
    margin-left: 10px; 
  }
  
  .legend-color {
    width: 15px; 
    height: 15px; 
    margin-right: 5px; 
    border-radius: 25px;
  }