/* Name */
.container-titre-profil {
  display: flex;
  flex-direction: column;
  width: 62%;
  position: absolute;
  top: 10%;
  left: 17%;
}
.titre-profil {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.spam-profil {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: red;
}
.texte-titre-profil {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}


/* container barChart */
.container-BarChart-Profil {
  position: absolute;
  left: 17%;
  top: 325px;
  width: 62%;
}

/* NutritionStats */
.container-NutritionStats-profil {
  display: flex;
  flex-direction: column;
  gap: 68px;
  position: absolute;
  left: 83%;
  top: 325px;
}

/* container-composant-stats-Perf */
.container-composant-stats-Perf {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 200px;
  left: 17%;
  gap: 5%;
  width: 62%;
}






@media screen and (max-width: 1025px)  {
/* container barChart et NutritionStats  */
.container-barchart-nutrition{
  display: flex;
  flex-direction: column;
 }
 
/* container barChart */
.container-BarChart-Profil {
  position: relative;
  left: 17%;
  top: 325px;
  width: 80%;
}

/* NutritionStats */
.container-NutritionStats-profil {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 80%;
  position: relative;
  left: 17%;
  top: 350px;
}

/* container-composant-stats-Perf */
.container-composant-stats-Perf {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 50px;
  left: 17%;
  gap: 5%;
  width: 80%;
}



}