.section-page-profil{
  margin-top: 5%;
  margin-left: 11%;
}
.container-allconposant-Profil{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%;
}
.container-allCompoantSaufNutri{
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Name */
.container-titre-profil {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.titre-profil {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.spam-profil {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: red;
}
.texte-titre-profil {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}







/* container barChart */
.container-BarChart-Profil {
  width: 100%;
  margin-top: 5%;
}

/* container-composant-stats-Perf */
.container-composant-stats-Perf {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  margin-top: 3%;
}
/* NutritionStats */
.container-NutritionStats-profil {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-right: 5%;
  margin-top: 13.2%;
}




































@media screen and (max-width: 1025px)  {




}