.section-page-profil {
  margin-top: 9vh;
  margin-left: 11vw;
}
.container-allconposant-Profil {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%;
}
.container-allCompoantSaufNutri {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Name */
.container-titre-profil {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.titre-profil {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.spam-profil {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: red;
}
.texte-titre-profil {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* container barChart */
.container-BarChart-Profil {
  width: 100%;
  margin-top: 5vh;
}

/* container-composant-stats-Perf */
.container-composant-stats-Perf {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  margin-top: 3vh;
}
/* NutritionStats */
.container-NutritionStats-profil {
  display: flex;
  flex-direction: column;
  gap: 47px;
  margin-right: 3vw;
  margin-top: 18.8vh;
}





@media screen and (max-width: 1025px) {
  .section-page-profil {
    margin-top: 9vh;
    margin-left: 15vw;
    margin-right: 3vw;
  }
  .container-allconposant-Profil {
    display: flex;
    flex-direction: column ;
    gap: 5%;
  }
 
  /* container barChart */
  .container-BarChart-Profil {
    margin-top: 5vh;
  }

  /* container-composant-stats-Perf */
  .container-composant-stats-Perf {
    gap: 5%;
    margin-top: 3vh;
  }
  /* NutritionStats */
  .container-NutritionStats-profil {
    flex-direction: row;
    gap: 3vw;
    margin-right: 0vw;
    margin-top: 2vh;
  }
}
